body {
  font-family: "helvetica", sans-serif;
  background: url(https://us.123rf.com/450wm/amenic181/amenic1811607/amenic181160700069/61242607-young-plant-in-the-morning-light-on-nature-background.jpg?ver=6);
  text-align: center;
}
